@keyframes arrow-lightning {
    0% {
        color: orangered;
    }
    50% {
        color: yellow;
    }
    100% {
        color: orangered;
    }
}
@keyframes arrow-sizing {
    0% {
        width: 7vw;
        height: 7vw;
    }
    50% {
        width: 9vw;
        height: 9vw;
    }
    100% {
        width: 7vw;
        height: 7vw;
    }
}

.price-interval div {
    width: 49% !important;
}
#investments-inner
{
    width: 100%; !important;
}
.price-inner {
    width: 49% !important;
}
.investment-sum {
    border: none;
    outline: none;
    width: 90%;
}
.investment-sum__inner {
}
.coin-ticker {
    margin-left: 5px;
}
.tickers {
    width: 120px;
}
#exchange_slider {
    width: 50%;
    margin: auto;
}
.exchange_icon {
    width: 25vw;
}
.createGridForm {
    display: none;
}
.arrow {
    animation: arrow-lightning 4s ease infinite;
    width: 7vw;
    height: 7vw;
    transition: 1.5s;
}
.arrow:hover {
    animation: arrow-sizing 4s ease infinite;
    color: limegreen !important;
    cursor: pointer;
}
.arrow-down {
    transform: rotate(180deg);
    transition: 1.5s;
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    /* фоновый цвет */
    background: #e0e0e0;
    z-index: 1001;
}

.preloader__image {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.investment-level-locked {
    cursor: auto !important;
}

.investment-sum__inner div[data-bs-toggle=tooltip] {
    cursor: pointer;
}

.level-loader {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
}

.lvl-center {
    display: flex;
    justify-content: center;
}

.isCurrentLvl {
    background-color: lightblue;
}


/*.investment-levels:hover {*/
/*    cursor: pointer;*/
/*}*/